* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
}

button {
    display: block;
    margin: 20px auto;
    border: none;
    padding: 10px;
}

h1 {
    margin-top: 100px;
}

.flipping {
    animation-name: flip-coin;
    animation-duration: 0.8s;
}

@keyframes flip-coin {
    from {
        transform: rotateY(0deg);
    }

    50% {
        transform: scale(1.5) rotateY(180deg);
    }

    to {
        transform: rotateY(360deg);
    }
}